<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome To Orders</h1>
    <table>
        <thead>
            <tr>
                <td>Order Id</td>
                <td>Order Time</td>
                <td>Buyer Name</td>
                <td>Seller Name</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Order Id</td>
                <td>Order Time</td>
                <td>Buyer Name</td>
                <td>Seller Name</td>
            </tr>
            <tr>
                <td>Order Id</td>
                <td>Order Time</td>
                <td>Buyer Name</td>
                <td>Seller Name</td>
            </tr>
        </tbody>
    </table>
</body>

</html>